.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  margin: 30px;
  text-align: center;
  font-size: 30px;
  color: grey;
}

.titulo {
  margin-bottom: 20px;
}

.lista {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  list-style: none;
  font-size: 16px;
}

.lista a:hover{

  color: #363636;
  border-radius: 3px;
  box-shadow: 5px 10px 10px 0px #363636;
  transition: 0.4s;

}

span {
  font-style: italic;
}