/* DETAIL*/
.item-detail {  
  display: flex;
  flex-direction: row;    
  border: 1px solid #ccc;
  border-radius: 10px;
  color: grey;
  width: 90%;   
  margin: 30px;
  padding: 10px;    
  font-size: 18px;    
}

.item-detail img {
  min-width: 25%;
}

.info-detail {
  padding: 30px;
}