/* DETAIL*/
.item-detail {  
  display: flex;
  flex-direction: row;    
  border: 1px solid #ccc;
  border-radius: 10px;
  color: grey;
  width: 90%;
  min-height: 400px;   
  margin: 30px;
  padding: 10px;    
  font-size: 18px; 
  box-shadow: 5px 10px 10px 0px #363636   
}

.item-detail img {
  min-width: 35%;
  min-height: 50%;
}

.info-detail {
  padding: 30px;
}