.nav {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  padding: 5px;
  justify-content: space-around;
  align-items: center;
}

.contenedor-logo {
  display: flex;
  flex-direction: row;  
  width: 40px;
}

.logo {
  width: 100%;
  border-radius: 10%;
}

.h3 {
  font-family: 'Verdana, sans-serif';
  color: grey;
}

.item-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  color: grey;
  margin: 0px 10px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-size: 20px;
}

.active {
  color: #363636;
  border-bottom: 2px solid grey;
  font-size: 30px;
}